@model BookingMailViewModel
@{
    ViewData["Title"] = "MailBooking";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="card-title">
    <h4>Rezervasyon Mail</h4>
</div>
<form method="post">
    <input type="hidden" asp-for="BookingID" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="CheckIn" />
    <input type="hidden" asp-for="CheckOut" />
    <input type="hidden" asp-for="AdultCount" />
    <input type="hidden" asp-for="ChildCount" />
    <input type="hidden" asp-for="RoomCount" />
    <input type="hidden" asp-for="SpecialRequest" />
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">



                <div class="read-content">

                    <hr>
                    <div class="media mb-4 mt-1">
                        <div class="media-body">

                            <h4 class="m-0 text-primary"><span class="m-0 text-dark">Ad Soyad: </span>@Model.Name</h4>
                            <br />
                            <h4 class="m-0 text-primary"><span class="m-0 text-dark">Mail: </span>@Model.Mail</h4>
                            <br />
                            <h4 class="m-0 text-primary"><span class="m-0 text-dark">Giriş Tarihi: </span>@Model.CheckIn</h4>
                            <br />
                            <h4 class="m-0 text-primary"><span class="m-0 text-dark">Çıkış Tarihi: </span>@Model.CheckOut</h4>
                            <br />
                            <h4 class="m-0 text-primary"><span class="m-0 text-dark">Yetişkin sayısı: </span>@Model.AdultCount</h4>
                            <br />
                            <h4 class="m-0 text-primary"><span class="m-0 text-dark">Çocuk Sayısı: </span>@Model.ChildCount</h4>
                            <br />
                            <h4 class="m-0 text-primary"><span class="m-0 text-dark">Oda Sayısı: </span>@Model.RoomCount</h4>
                            <br />
                            <h4 class="m-0 text-primary"><span class="m-0 text-dark">Mesaj: </span>@Model.SpecialRequest</h4>
                            <br />
                            @if (Model.Status == "Onay Bekliyor")
                            {

                                <h4 class="text-warning"><span class="m-0 text-dark">Durum: </span>Onay Bekliyor</h4>
                            }
                            else if (Model.Status == "Onaylandı")
                            {

                                <h4 class="text-success"><span class="m-0 text-dark">Durum: </span>Onaylandı</h4>
                            }
                            else
                            {

                                <h4 class="text-danger"><span class="m-0 text-dark">Durum: </span>Onaylanmadı</h4>
                            }



                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <label>Gönderilecek Mail</label>
    <input type="text" asp-for="Mail" class="form-control input-rounded" />
    <br />
    <label>Açıklama</label>
    <textarea asp-for="Description" class="form-control input-rounded"></textarea>
    <br />


    <button class="btn mb-1 btn-rounded btn-success ">Gönder</button>
    <a class="btn mb-1 btn-rounded btn-danger " href="/Booking/Index">İptal</a>
</form>


